* {
  box-sizing: border-box;
}

html { 
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: -webkit-fill-available;
}

/******************************* Text  */

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 4%;
}

header {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.disclaimer {
  font-style: italic;
  font-size: x-small;
  text-align: right;
}

a {
  text-decoration: none;
}

span.info {
  font-size: xx-small;
  font-style: italic;
}

/******************************* Errors */

h1.error-header {
  margin: auto;
}

/******************************* Auth */

.login-page, .signup-page {
  background: #4464D7;
  color: white;
  padding: 1%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  width: 50%;
}

.btn-login {
  background-color: #4A72FF;
  color: white;
  margin: 10%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

.btn-login:hover, #btn-signup:hover {
  background-color: #c9d5fb;
  color: black;
}

a.signup {
  color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

a.signup:hover {
  text-decoration: underline;
}

p.or {
  font-size: smaller;
}
/******************************* Home */

.home-page-container {
  background: url(mapscreen.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.home-page-background {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
}

.home-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: white;
  width: 50%;
  margin: auto;
  padding: 3%;
}

.main-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span.welcome {
  font-style: italic;
}

.home-description {
  text-align: center;
  font-variant: small-caps;
}

.description-italic {
  text-align: center;
  font-variant: small-caps;
  font-style: italic;
}

.letter-r {
  color: #4464D7;
}

.letter-a {
  color: rgba(31, 40, 207, 0.1);
}

.letter-c {
  color: rgb(126, 151, 243);
}

.letter-o {
  color: #879CE5;
}

.letter-n {
  color: rgb(64, 90, 184);
}

.home-letters {
  display: flex;
  justify-content: space-between;
  font-size: xxx-large;
  font-style: italic;
}

a.home {
  background-color: #4464D7;
  color: white;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 1.5em;
  margin: 2%;
}

a:hover.home {
  text-decoration: underline;
}


/******************************* Nav Bar */

.nav-bar {
  background-color: #4464D7;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: medium;
}

.nav-logo{
  margin: 2%;
}

img.racoon-logo {
  width: 50px;
}

.nav-header {
  color: #f2f2f2;
  text-align: center;
  order: 8;
  margin-left: auto;
  margin-right: 1%;
}

.nav-item {
  float: left;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1%;
  margin-right: 1%;
}

.nav-item :hover, .nav-header :hover {
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.nav-bar a {
  color: #f2f2f2;
  text-decoration: none;
}

/******************************* 'Pages' to Pop Up on Map */

.page {
  padding: 1%;
  margin: 1%;
  position: absolute;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow-y: auto;
  height: 70%;
  width: 50%;
}

.card {
  background-color: rgba(31, 40, 207, 0.1);
  padding: 1%;
  margin: 1%;
  text-decoration: none;
  border-radius: 4px;
}

.item {
  background-color: white;
  border-radius: 4px;
}

.return, .close {
  margin-left: auto;
  cursor: pointer;
}

.close::before {
  cursor: pointer;
}

/************************ Symptom Checker */

header.checker{
  background-image: url(sitting8.png), url(standing.png), url(sitting4.png);
  background-position-x: 5%, 20%, 90%;
  background-size: 70px, 60px, 70px;
  background-position-y: 100%, 100%, 100%;
}

.symptom-checker {
  margin: 2%;
  padding: 2%;
  overflow: auto;
  background: rgba(236, 189, 131, 0.2);
  border-radius: 4px;
}

.emergency {
  color: red;
}

.result-item {
  display: flex;
  flex-direction: row;
}

.sex-choice {
  display: flex;
  flex-direction: row;
}

.fever-choice {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.symptom-item {
  margin: 0;
  padding: 0;
  margin-right: 2%;
}

a.results {
  text-decoration: none;
  color: black;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

a.results:hover {
  text-decoration: underline;
}

/************************ Forms */

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

input {
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=number] {
  width: 25%;
}

select {
  margin: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  width: 100%;
}

option {
  margin: 1%;
  text-align: start;
}

.field {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

label {
  padding: 2%;
  margin-right: auto;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

i {
  padding: inherit;
}

/************************ Comments */

.comment-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  margin: 1%;
  padding: 2%;
  display: inline-block;
}

.comment-input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.comment-username {
  float: left;
  margin-top: 0px;
}

.comment-content {
  float: right;
  width: 50%;
  margin: 20px 0px 0px 0px;
}

/******************************* Buttons */

button, input[type=submit] {
  background-color: #4A72FF;
  color: white;
  margin: 10%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

button:hover, input[type=submit]:hover {
  background-color: rgba(74, 114, 255, 0.3);
  color: black;
}

/******************************* Error Message */
.warning-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
  height: 100%;
  width: 100%;
}

.warning-message {
  padding: 1%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow-y: auto;
  width: 35%;
}



/******************************* Full screen non map pages - my info, checker */

header {
  background: #879CE5;
  background-image: url(sitting.png);
  background-repeat: no-repeat;
  height: 100px;
  background-size: contain;
  align-items: center;
  justify-content: center;
  background-size: 70px;
  background-position-y: 100%;
  background-position-x: 5%;
}

/******************************* Responsive layout */

/* @media screen and (max-width: 600px) {

} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */