.App {
  text-align: center;
  margin-top: 100px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 90%;
}

/******************************* Map  */

.map {
  width: 100%;
  height: 80%;
  margin-top: 20%;
  left: 0px;
  top: 0px;
}

#racoon-logo{
  width: 100px;
  height: 72.62px;
  left: 40px;
  top: 77.38px;
}

/******************************* Nav Bar */

.nav-bar {
  overflow: hidden;
  background-color: #4464D7;
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
}

.nav-header {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 1%;
}

.nav-bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1%;
  text-decoration: none;
}

.nav-item {
  position: static;
  float: left;
}

.nav-item :hover {
  background: white;
  color: black;
}

/******************************* Cards */

.card {
  background-color: rgba(31, 40, 207, 0.1);
  padding: 1%;
  margin: 1%;
  text-align: center;
  text-decoration: none;
  border-style: outset;
}


input {
  padding: 12px;
  margin: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  margin: 15%;
  top: 0px;
}

.comment-input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button, input[type=submit] {
  width: 50%;
  background-color: #4A72FF;
  color: white;
  padding: 14px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover, input[type=submit]:hover {
  background-color: rgba(74, 114, 255, 0.3);
  color: black;
}

.item {
  border-style: double;
  background-color: white;
}

.comment-card {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 25%;
  margin: 1%;
}

/******************************* Responsive layout */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}